body {
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
 }

  a {
    color: seashell;
  }
  
  .logo {
     display: flex;
     height: 50px;
     margin-left: 10px;
     margin-top: 10px;
     margin-bottom: 9px;

  }
  
  header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     z-index: 1;
     height: 69px;
     width: 100%;
     border-bottom: 1px solid seashell;
  
  }
  
    nav {
      display: inline-block;
      /*display: flex;*/
      justify-content: flex-end;
      margin-right: 10px;
      text-decoration: underline;
      text-align: right;
      padding-right: 15px;
  }
  
    nav span a {
      padding-right: 15px;
      color: seashell;
    }
  
    .main-content {
       display: flex;
       position: relative;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       /*height: 100%;*/
       width: 1200px;
       margin: 0 auto;
       top: 70px;
    }

    .mission-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border: 1px white solid;
    }

    .mission-container .text  {
        vertical-align: middle;
        align-items: center;
        width: 1260px;
        height: 130px;
        background-color: black;
    }

    .text h2 {
        margin-top: 15px;
    }

    
    .image-large {
        /*padding-top: 80px;  */
        padding-bottom: 75px;
        display: flex;
        position: relative;
        border: 1px white solid;
        background-image: url("/Users/jeanineloughlin/new_projects_codecademy/TeaCozy/img-mission-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 690px;
        align-items: center;
        justify-content: center;
        width: 1220px;
    }
      
  
    .tea-container {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: 1000px;
        justify-content: space-around;
    }
  
    .product {
        display: inline-block;
        text-align: center;
        flex-direction: row;
    }

    .product img {
       height: 200px;
       width: 300px;
    }

    .product h4 {
        padding-top: 10px;
    }


    .location h2 {       
        text-align: center;
        align-items: center;
        margin-top: 250px;
    }
  
    .locations {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 565px;
        width: 1200px;
        position: relative;
        border: 1px white solid;
        top: 90px;
        bottom: 50px;
        background-image: url("/Users/jeanineloughlin/new_projects_codecademy/TeaCozy/img-locations-background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }


    .address {
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        height: 300px;
        width: 300px;
        border: 1px white solid;
        opacity: 1;
        background-color: Sienna;
    }
    
    .downtown {
        margin-left: 100px;
    }
    .oakdale {
        margin-right: 100px;
    }

    .bayside h2 {
        display: flex;
        margin-top: -109px;
    }

    .locations h3 p {
        text-align: center;
    }

    h2 {
        margin-top: 125px;
    }
    
    footer {
        display: flex;
        text-align: left;
        padding-left: 20px;
    }
  
